[versions]
Products.fatsyndication = 1.0.1
Pygments = 1.3.1
archetypes.schemaextender = 2.0.1
bda.ldap = 1.4.0
cns.recipe.maildrophost = 1.5.2
collective.recipe.backup = 1.3
collective.recipe.i18noverrides = 0.4
collective.recipe.omelette = 0.9
distribute = 0.6.12
plone.recipe.command = 1.1
plone.recipe.distros = 1.5
plone.recipe.precompiler = 0.3
plone.reload = 1.4

#Required by:
#Products.CacheSetup 1.2.1
Products.CMFSquidTool = 1.5.1

#Required by:
#Products.PloneLDAP 1.1
Products.LDAPMultiPlugins = 1.11

#Required by:
#Products.PloneLDAP 1.1
Products.LDAPUserFolder = 2.17

#Required by:
#plone.app.ldap 1.1
Products.PloneLDAP = 1.1

#Required by:
#Products.CacheSetup 1.2.1
Products.PolicyHTTPCacheManager = 1.2

#Required by:
#Products.fatsyndication 1.0.1
Products.basesyndication = 1.0.0

#Required by:
#bda.ldap 1.4.0
bda.cache = 1.1.3

#Required by:
#dataflake.ldapconnection 1.1
dataflake.cache = 1.2

#Required by:
#Products.LDAPUserFolder 2.17
dataflake.ldapconnection = 1.1

#Required by:
#zodict 1.9.2
odict = 1.3.1

#Required by:
#bda.ldap 1.4.0
python-ldap = 2.3.13

#Required by:
#bda.cache 1.1.3
python-memcached = 1.45

#Required by:
#zodict 1.9.2
uuid = 1.30

#Required by:
#bda.ldap 1.4.0
zodict = 1.9.2
